html, body
{
    height: 100%; margin: 0; padding: 0;
    background-color: white;
}
#map, #directionsmap {
    height: 100%;
}

.jumbotron {
	font-size: 34px;
	background-color: white;
	text-align: center;
	margin: 5px;
	font-family: sans-serif;
	margin: 5px;
	border-radius: 4px;
}

.jumbotron {
	margin:10px;
}